<div class="modal fade" id="terms-and-conditions-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Terms And Conditions</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">                    
                    <h5>INTRODUCTION</h5>
                    <p>
                        These are the Terms and Conditions for the Arbitrage Profit Sharing system published by Global Sparks(Pty) Ltd (Registration K2014221430 ) (“APS”, “Securing Wealth”) a private company duly registered in terms of the laws of the Republic of South Africa whose registered address is The Business Center, Umhlanga Ridge office Number 634 Tenor Building Durban 40031
                    </p>
                    
                    <h5>DETAILED DESCRIPTION OF SERVICES</h5>
                    <p>
                        APS is a business in the assets procurement,resale and profit sharing industry that offers its Stakeholders a share in accumulated profits from transactions and private investments made on their behalf.Your contribution funds are linked to a financial product and/or service which is eventually converted into currency and later reflected on your end of investment profit share.
                    </p>
                    
                    <p>
                        These groups’ choices are of financial products such as call account, fixed interest account and/or collective investment scheme provided by fund manager(s) or registered financial institution provider(s)(“product suppliers”) to save and/or invest into. 
                    </p>

                    <p>
                        When you register or open an account via the APS platform, you are instructing us to deposit your funds into your selected financial product.
                    </p>
                    
                    <p>
                        Users must be 18 years or older. If you are a minor child under the age of 18 years you may only enter into this Agreement and register an account on the APS platform with the prior written consent of one or more of your parents or legal guardians.                        
                    </p>

                    <p>
                        All our service fees are provided, calculated and quoted in the web app and as well in accordance to our fee schedule published from time to time.
                    </p>
                    
                    <p>
                        We reserve the right to amend or vary the fees charged from time to time. Any amendment or variation of such fees will be deemed to be an amendment of this Agreement. If you object to any amended or varied fees, your sole remedy is to terminate your use of the APS platform.
                    </p>
                    
                    <p>
                        APS does not give financial advice and does not employ financial advisers. If you require financial advice, it is your responsibility to appoint a financial adviser.
                    </p>
                    
                    <h5>ACCEPTANCE</h5>
                    <p>
                        Registration, otherwise accessing, otherwise using the web app signifies that you have read the Terms and Conditions (“Terms”) and understand them and agree to be bound by these Terms. APS reserves the right to update, amend and/or replace any or the whole of the Terms and these changes shall be effective immediately and replace any previous Terms.
                    </p>
                    
                    <p>
                        You shall be deemed to have consented to these amendments as soon as you Register otherwise access, otherwise use the Webapp. You are responsible for reviewing these Terms from time to time so that you are aware of the amendments.
                    </p>
                    
                    <p>
                        We may be required, under the Financial Intelligence Centre Act, 2001 (FICA) to confirm your identity when you register on the APS platform and we may request such information as we consider necessary to confirm your identity.
                    </p>
                    <p>
                        Any registration information that you provide to us must be accurate, current, relevant and complete. You must also update your information so that we may send notices, statements and other information to you by email or through your account.
                    </p>
                    
                    <p>
                        You must ensure that you keep your user IDs, bank details and passwords strictly confidential and secure and you do not share these details with any other person. You are responsible for any and all actions taken using your accounts and passwords, and you agree to immediately notify us of any unauthorized use as soon as you become aware of it.
                    </p>
                    
                    <p>
                        You authorise APS to verify your Identification, Physical Address and/or banking details against any third party database.
                    </p>
                    <p>
                        You will contact us immediately when you become aware or suspect that any unauthorised person has gained access to your account details; or if your account details have been lost, stolen or misused; or if there has been any other breach of security. You will change your account details immediately when you become aware of or suspect any one of the circumstances set out above.
                    </p>
                    
                    <p>
                        You are responsible for regularly reviewing your savings and ensuring that they continue to suit your circumstances. We do not take responsibility for your selection. You shall remain solely responsible for taking all decisions, making all enquiries, applying your own judgment, and managing all aspects of the products and services you access and use via the APS platform, including issues relating to tax and financial planning.
                    </p>
                    
                    <p>
                        You acknowledge that, as with all investments, the products (or services) published and accessed via the APS platform may gain or lose value and there is always risk of financial loss inherent in such products (or services).
                    </p>
                    <p>
                        You acknowledge that you are not entitled to withhold any payment of any fees due to us by reason of any alleged breach of this Agreement by us or for any other reason.
                    </p>
                    
                    <h5>CONTENT OF THE SOFTWARE</h5>
                    <p>
                        APS reserves the right to make improvements, to change or to discontinue, without notice, any aspect or feature of the webapp and any information or content on the webapp. APS reserves the right to change or amend the products, services, prices and rates relative to the webapp from time to time, without notice.
                    </p>
                    
                    <p>
                        The display or accessibility of a particular financial product (or service) on the APS platform does not mean that we are making any recommendation in relation to that product (or service), or that your purchase and/or use of that product (or service) is appropriate to meet your needs or requirements.
                    </p>
                    
                    <h5>DELIVERY POLICY</h5>
                    <p>
                        Subject to availability and receipt of payment, requests will be processed within 1 days but not later than 5 (five) working days and delivery confirmed by way of an online platform that is accessible via username and password. While we thrive to ensure that purchased vouchers are delivered instantly; depending on the providers some vouchers may have a delivery lead-time of up to 24 hours.
                    </p>
                    
                    <h5>EXPORTS RESTRICTIONS</h5>
                    <p>
                        The APS platform is only made available to users in South Africa even if they access this website from locations outside of South Africa. The StokFella platform is intended for and made available to peoples registered in South Africa only. This Agreement is regulated by or is subject to the Consumer Protection Act No 68 of 2008, as may be amended from time to time (the “Consumer Protection Act”).
                    </p>
                    
                    <h5>RETURN AND REFUNDS POLICY</h5>
                    <p>
                        You may cancel your transaction for a full refund of your initial investment at any time before the transaction is processed on the platform. You are responsible for ensuring the payment details you provide are accurate. Once payment instructions have been executed by APS, transactions cannot be reversed and APS will not be liable in any way for any loss you suffer as a result of a transaction being carried out in accordance with your instructions.
                    </p>
                    
                    <p>
                        In the event that you want to cancel your account profile with APS and redeem all pending cash , please contact our support team on ininfo@aps.co.za to initiate the cancellation process. Please note that this may take up to 14 days. You have 14 days after receipt of any confirmation or any statement from the APS platform to report any errors to us.
                    </p>
                    
                    <h5>CUSTOMER PRIVACY POLICY</h5>
                    <p>
                        APS shall take all reasonable steps to protect the personal information of users. For the purpose of this clause, “personal information” shall be defined as detailed in the Promotion of Access to Information Act 2 of 2000 (PAIA). The PAIA may be downloaded from: http://www.policy.org.za/attachment.php?aa_id=3569 Payment may be made via Visa, MasterCard, Diners or American Express credit cards or cheque cards.
                    </p>
                    
                    <p>
                        We may monitor this website and/or our app to make sure it is operating properly. However, we do not, as a general practice, monitor your activities on this website. Where we are required to intercept communications under the Regulation of Interception and Provision of Communication-Related Act, 70 of 2003 (“RICA’’), any interception of communications will be strictly carried out in accordance with the requirements of RICA.
                    </p>
                    
                    <p>
                        You agree that you will have no recourse against us if we act in terms of this clause and you waive your right to make any claim or demand or to institute any legal proceedings against us arising from the interception or monitoring of this website and/or our app in accordance with our legal rights and obligations.
                    </p>
                    
                    <h5>PAYMENT OPTION ACCEPTED</h5>
                    <p>
                        Payment may be made via Visa, MasterCard, Diners or any validated credit cards (under SA jurisdiction)or by bank transfer into the APS bank account, the details of which will be provided on request.
                    </p>
                    
                    <h5>CREDIT CARD ACQUIRING AND SECURITY</h5>
                    <p>
                        Credit card and cheque card transactions will be acquired for APS via PayGate (Pty) Ltd who are the approved gateway for all South African Acquiring Banks . PayGate uses the strictest form of encryption, namely Secure Socket Layer 3 (SSL3) and no credit card details are stored on the website. Users may go to www.paygate.co.za to view their security certificate and security policy.
                    </p>
                    
                    <h5>CUSTOMER DETAILS SEPARATED FROM CARD DETAILS</h5>
                    <p>
                        Customer details will be stored by APS separately from card details which are entered by the client on PayGate’s secure site. For more details on PayGate refer to www.paygate.co.za
                    </p>
                    
                    MERCHANT OUTLET COUNTRY AND TRANSACTION CURRENCY
                    <p>
                        The merchant outlet country at the time of presenting payment options to the cardholder is South Africa. Transaction currency is South African Rand (ZAR).  
                    </p>
                    <h5>RESPONSIBILITY</h5>
                    <p>
                        APS takes responsibility for all aspects relating to the transaction including sale of goods and services sold on its app, customer service and support, dispute resolution and delivery of goods. Any complaints regarding the standard and quality of the product or services bought by consumers through the e-commerce facility should be directed to the following email address, info@aps.co.za
                    
                    </p>
                    <h5>WARRANTIES</h5>
                    <p>
                        APS makes no warranties, representations, statements or guarantees as to the accuracy, appropriateness, correctness, completeness or reliability of the webapp and the data and/or content on thplatform. APS does not warrant that the webapp or information shall be error-free or that they shall meet any particular criteria of performance or quality.
                    
                        APS expressly disclaims all implied warranties and takes reasonable measures to ensure the integrity of the webapp and its contents and no warranty, whether express or implied, is given that any files, downloads or applications available via this web are free of viruses, or any other data or code which has the ability to corrupt, damage or affect the operation of the user’s system.
                        
                        The user agrees that APS shall not be liable for any losses or damages that may arise from the user’s reliance on the webapp, howsoever these may arise.
                        APS guarantees that you will realise returns, profits, or other financial benefits from your use of our financial products and services accessible from the APS platform.
                        
                        However , APS is not responsible for any losses that may be suffered due to errors made by vendors, service providers, the investment or market risk of the underlying investment; changes in tax or other legislation; delays in the processing or the rejection of an application for any financial product/service made via the APS platform for any reason whatsoever; any financial adviser acting on your or groups’ behalf beyond the scope of their mandate either via telephone, email, fax or website; or acting on any incorrect information provided to you in any format.
                    </p>
                    
                    <h5>INTELLECTUAL PROPERTY</h5>
                    <p>
                        APS owns all intellectual property rights in all materials, text, drawings, design,programs and data made available on the Service. Any unauthorised reproduction, distribution, derivative creation, sale, broadcast or other circulation or exploitation of the whole or any part of this material is an infringement of our rights.
                    
                        APS owns the APS trademarks, names, logos and service marks displayed on the Service whether registered or unregistered. You may only use the APS trademark with APS’s written permission. All APS’s trademarks are protected by copyright laws. All rights not expressly granted are reserved and no right, title or interest in any material or information contained in this Software is granted to you.
                        Except with APS’s express written permission, no material from this Software may be copied or retransmitted.
                        
                        The copyright in all material contained on, in, or available through the Software including, the selection and arrangement thereof, and all source code software compilations and other material, except that which is created and owned by you, is owned by or licensed to APS.
                        
                        LINKED THIRD PARTY WEBSITES APPLICATIONS AND THIRD PARTY CONTENT
                        APS may provide links to third party websites and apps on the Software. These links are provided to the user for convenience purposes only and APS does not endorse, nor does the inclusion of any link imply APS’s endorsement of, such websites and/or apps, their owners, licensees or administrators or such websites’ content or security practices and operations.
                        
                        While APS tries to provide links only to reputable websites, APS cannot accept responsibility or liability for the information provided on other websites and/or applications. Linked websites, applications or pages are not under, nor subject to, the control of APS.                            
                    </p>

                    <h5>USAGE RESTRICTIONS</h5>
                    <p>
                        You agree to not create a false identity or otherwise attempt to mislead any person as to your identity or the origin of any communication transmitted through the Software. Disseminate or transmit any message that does not pertain to the intended use of the Software or that contain anything that is obscene, defamatory, harassing, offensive or malicious.
                        Use the Software in any unlawful manner or in any manner which promotes and/or encourages illegal activity including (without limitation) copyright infringement. Attempt to gain unauthorized access to the Software or any networks, servers or computer systems connected to the Software.
                        
                        Copy, reproduce, translate, modify, rent, lease, lend, license, sublicense, distribute, transmit, share or create derivative works, adapt, encumber, decompile, reverse engineer or in in any other way deal with any part of the Software for any reason and in any manner, unless it is consistent with the intent and purpose of these Terms. Write and/or develop any derivative of the Software or any other software program based on the Software.
                        
                        Modify or enhance the Software. If you effect any modifications or enhancements to the Software in breach of this clause, such modifications or enhancements shall be the property of APS. Without APS’s prior written consent, provide, disclose, divulge or make available to or permit the use of or give access to the Software by persons other than you.
                        
                        Remove any identification, trademark, copyright or other notices from the Software.
                    </p>
                    
                    <h5>SECURITY</h5>
                    <p>
                    In order to ensure the security and reliable operation of the Service to all users of the Software, APS hereby reserves the right to take whatever action it may deem necessary to preserve the security, integrity and reliability of its network and back-office applications.
                    
                    You may not utilise the Software in any manner which may compromise the security of APS’s networks or tamper with the Software in any manner whatsoever, which shall include without limitation, gaining or attempting to gain unauthorised access to the Software, or delivering or attempting to deliver any unauthorised, damaging or malicious code to the Software.
                    
                    You may not use any robot, spider, scraper, deep link or other similar automated data gathering or extraction tools, program, algorithm or methodology for any unlawful purpose, including the unlawful access to, acquisition of, control over, copying or monitoring of the Service.
                    </p>
                    
                    <h3>RISK, LIMITATION OF LIABILITY AND INDEMNITY</h3>
                    <p>
                        Your use of this Software and the information contained on the Software is entirely at your own risk and you assume full responsibility and risk of loss resulting from the use thereof.
                    </p>

                    <p>
                        The transmission of information via the internet, including without limitation e-mail and other digital messages, is susceptible to monitoring and interception. You bear all risk of transmitting information in this manner. Under no circumstances shall APS be liable for any loss, harm, or damage suffered by you as a result thereof.
                    </p>

                    <p>
                        APS shall not be liable for any damages whatsoever, including without limitation any direct, indirect, special, incidental, consequential or punitive damages, howsoever arising related to the use of, or the inability to access or use the content of the Software or any functionality thereof, or the information contained on the Software, or of any linked software, even if APS knows or should reasonably have known or is expressly advised thereof.
                    </p>

                    <p>
                        You hereby unconditionally and irrevocably indemnify APS and agree to hold APS free from all loss, damages, claims and/or costs, of whatsoever nature suffered or incurred by APS or instituted against APS as a direct or indirect result of:
                    </p>

                    <p>
                        Your use of the Software/webapp ;
                    </p>

                    <p>
                        Software, programs and support services supplied by, obtained by or modified by you or any third party without the consent or knowledge of service provider;
                    </p>

                    <p>
                        Your failure to comply with any of the terms or any other requirements which APS may impose from time to time;
                    </p>

                    <p>
                        The actions or requirements of any telecommunications authority or a supplier of telecommunications services or software; or
                    </p>

                    <p>
                        Any unavailability of, or interruption in, the Service which is beyond the control of APS.                            
                    </p>
                    <p>
                        APS makes no warranty or representation as to the availability, accuracy or completeness of the content of the Software. You expressly waive and renounce all your rights of whatever nature that you may have against APS for any loss suffered by you, as a result of information supplied by APS that is incorrect, incomplete or inaccurate.
                    </p>

                    <h5>CONFIDENTIALITY</h5>

                    <p>
                        By subscribing as a user, you agree that you shall hold in the strictest confidence and not disclose to any third party information acquired in connection with any aspect of the products and/or Service offered by APS. You shall notify APS should you discover any loss or unauthorised disclosure of the information.
                    </p>

                    <p>
                        Any information or material sent to APS will be deemed not to be confidential, unless otherwise agreed in writing by the user and APS.
                    </p>

                    <h5>BREACH OR CANCELLATION</h5>
                    <p>
                        Having given the user of the Service 10 business days’ notice in writing to remedy a material breach APS is entitled without notice, in addition to any other remedy available to it at law or under these Terms, including obtaining an interdict, to cancel these Terms, limit or deny such user use of the Software and Service, or to claim specific performance of any obligation whether or not the due date for performance has arrived, in either event without prejudice to APS’s right to claim damages, should any user:
                    </p>

                    <p>Breach any of these Terms;</p>
                    <ul>
                        <li>
                            In the sole discretion of APS, use the Software in an unauthorised manner; or
                        </li>
                    </ul>

                    <p>infringe any statute, regulation, ordinance or law.</p>
                    <ul>
                        <li>
                            Breach of these Terms and failure to remedy such breach, entitles APS to take legal action without prior notice to the user and the user agrees to reimburse the costs associated with such legal action to APS.
                        </li>
                    </ul>

                    <h5>TERMINATION</h5>

                    <h6>WHOLE AGREEMENT</h6>

                    <p>
                        Nothing in this Agreement is intended to create a partnership, a joint venture or any relationship of agency, representation, or employment between us.
                    </p>

                    <p>
                        These terms and conditions constitutes the entire and only agreement between us and supersedes all previous negotiations, communications and other agreements, whether written or oral, unless they are incorporated by reference into this Agreement. No other terms, representations, warranties, statements or conditions will be binding on us other than those contained in this Agreement.
                    </p>

                    <h5>APPLICABLE LAW</h5>

                    <p>
                        You shall comply with all applicable laws, statutes, ordinances and regulations pertaining to your use of and access to this Software. These Terms are governed by and interpreted in accordance with the laws of the Republic of South Africa without giving effect to any principles of conflict of law. If any provision of these Terms is held to be invalid or unenforceable by a court of the Republic of South Africa, the remaining provisions of these Terms will remain in effect.
                    </p>

                    <h5>COUNTRY OF DOMICILE</h5>

                    <p>
                        This website is governed by the laws of South Africa and APS chooses as its domicilium citandi et executandi for all purposes under this agreement, whether in respect of court process, notice, or other documents or communication of whatsoever nature. Business physical address: The Business Center, Umhlanga Ridge office Number 634 Tenor Building Durban 40031
                    </p>

                    <h5>JURISDICTION</h5>

                    <p>
                        These Terms and Conditions shall be governed by the laws of the Republic of South Africa, and the User consents to the jurisdiction of the Witwatersrand High Court in the event of any dispute. If any of the provisions of these Terms and Conditions are found by a court of competent jurisdiction to be invalid or unenforceable, that provision shall be enforced to the maximum extent permissible so as to give effect to the intent of these Terms and Conditions, and the remainder of these Terms and Conditions shall continue in full force and effect. These Terms and Conditions constitute the entire agreement between APS and the User with regard to the use of the Content and this Website and Platform.
                    </p>

                    <p>
                        You consent to the exclusive jurisdiction of the courts of the Republic of South Africa over any dispute with APS as to the Software, Services or these Terms.
                    </p>

                    <h5>VARIATION</h5>

                    <p>
                        APS may, in its sole discretion, change this agreement or any part thereof at any time without notice.
                    </p>

                    <h5>COMPANY INFORMATION</h5>

                    <p>
                        This website and platform is run by Global Sparks (pty) Ltd based in South Africa trading as Arbitrage Profit Sharing and with registration number 2014/22/14/30
                    </p>

                    <h5>ARBITRAGE PROFIT SHARING CONTACT DETAILS :</h5>
                    <p>
                        Cell & Whatsapp : 061 467 8665 Telephone : 031 400 1582 Email : info@aps.co.za Twitter : APS_SA Facebook&Messenge : APS Wealth Instagram : APSWealth
                    </p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>