<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Our Contacts</h1>
          </div><!-- /.col -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <p class="mb-2">
            At Arbitrage Profit Sharing, We strive to maintain our efficient and effective communication network. One of our key progressive components is customer care. For any Enquiries please use the following :
          </p>
          <div class="row">
              <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box">
                  <span class="info-box-icon bg-danger"><i class="far fa-envelope"></i></span>
    
                  <div class="info-box-content">
                    <span class="info-box-text">Email</span>
                    <span class="info-box-number">info@aps.co.za</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box">
                  <span class="info-box-icon bg-warning"><i class="fas fa-phone" style="color:white"></i></span>
    
                  <div class="info-box-content">
                    <span class="info-box-text">Telephone</span>
                    <span class="info-box-number">031 400 1582</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box">
                  <span class="info-box-icon bg-success"><i class="fab fa-whatsapp"></i></span>
    
                  <div class="info-box-content">
                    <span class="info-box-text">Cell & Whatsapp</span>
                    <span class="info-box-number">061 467 8665</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
            </div>
      </div>
    </section>

    <div class="content">
      <div class="container-fluid">         
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-2">
            <div id="social">
              <a class="facebook-btn sm-global-gtn" href="https://www.facebook.com/APSINVEST/" ></a>
              <!-- <a class="linkedin-btn sm-global-gtn" href="#" ></a> -->
            </div>
          </div>
          <div class="col-md-2">
            <div id="social">
              <a class="twitter-btn sm-global-gtn" href="https://twitter.com/APS_Invest?s=09" ></a>
              <!-- <a class="linkedin-btn sm-global-gtn" href="#" ></a> -->
            </div>
          </div>
          <div class="col-md-2">
            <div id="social">
              <a class="instagram-btn sm-global-gtn" href="https://www.instagram.com/p/B0wLMDqgmNG/?igshid=1ibhotd4j8n13" ></a>
              <!-- <a class="linkedin-btn sm-global-gtn" href="#" ></a> -->
            </div>
          </div>
          <div class="col-md-3">
          </div>
        </div>        
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<router-outlet></router-outlet>