<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Welcome to APS | <small>Arbitrage Profit Sharing</small></h1>
          </div><!-- /.col -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <p>We could go on and on about how great we are and how our slogan "securing wealth" is based on that very
              principle, but we'll take a different approach, let's rather show you ..</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
              <img class="home-background-img" src="assets/img/background.png">
            </div>
          </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    </div>

    <router-outlet></router-outlet>