<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Estimates</h1>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Please Set An Estimate</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group row margin">
                  <label for="range_1" class="col-sm-2 col-form-label"style="margin-top: 12px;">Investment Amount</label>

                  <div class="col-sm-8">
                      <ng5-slider [(value)]="investmentAmount" [options]="investmentAmountOptions"></ng5-slider>
                  </div>

                  <div class="col-sm-2">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">R</span>
                      </div>
                      <input type="text" class="form-control" [(ngModel)]="investmentAmount" />
                      <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row margin">
                  <div class="col-sm-12">
                    <div class="info-box bg-success">
                      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

                      <div class="info-box-content">
                        <span class="info-box-text">Profile Percentage</span>
                        <span class="info-box-number">{{profilePercentage}}</span>

                        <div class="progress">
                          <div class="progress-bar" [ngStyle]="{'width': getInterestRates()}"></div>
                        </div>
                        <span class="progress-description">
                          {{profilePercentage}} Increase in {{investmentDays}} Days
                        </span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  </div>
                </div>
                <div class="form-group row margin">                    
                  <label for="range_3" class="col-sm-2 col-form-label" style="margin-top: 12px;">Maturity Time</label>

                  <div class="col-sm-10">
                    <ng5-slider [(value)]="investmentDays" [options]="maturityItemOptions"></ng5-slider>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button (click)="saveEstimate()" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<router-outlet></router-outlet>