<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Client Details</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg"
                alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">{{user.name}} {{user.surname}}</h3>

            <p class="text-muted text-center">{{user.email}}</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Approved Estimates</b> <a class="float-right">{{approvedEstimates.length}}</a>
              </li>
              <li class="list-group-item">
                <b>Pending Estimates</b> <a class="float-right">{{pendingEstimates.length}}</a>
              </li>
              <li class="list-group-item">
                <b>Number Of Estimates</b> <a class="float-right">{{estimates.length}}</a>
              </li>
            </ul>

            <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-9">
        <!-- /.card -->
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Estimates</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-toggle="collapse" title="Collapse" data-target="#collapseEstimateTable">
                <i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="collapse show" id="collapseEstimateTable">

            <div class="card-body p-0" >
              <table class="table">
                <thead>
                  <tr>
                    <th>Created On</th>
                    <th>Amount Invested</th>
                    <th>Interest Rate</th>
                    <th>Investment Returns</th>
                    <th>Days Left</th>
                    <th>Expiry Date</th>
                    <th>Paid For</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let estimate of estimates">
                    <td>{{estimate.createdOn}}</td>
                    <td>{{estimate.amountInvested}}</td>
                    <td>{{estimate.interestRate}}</td>
                    <td>{{estimate.investmentReturns}}</td>
                    <td>{{estimate.expiresIn}}</td>
                    <td>{{estimate.expiryDate}}</td>
                    <td>
                      <div *ngIf="estimate.paidFor else elseBlock"><span *ngIf="estimate.paidFor">
                          <i class="far fa-times-circle paid"></i>
                        </span></div>
                      <ng-template #elseBlock> <span>
                          <i class="far fa-times-circle pending"></i>
                        </span></ng-template>
                    </td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a href="#" class="btn btn-info" (click)="estimateSelected(estimate.estimateId)"
                          data-toggle="modal" data-target="#editEstimatesModal"><i class="fas fa-eye"></i></a>
  
                        <!-- Button trigger modal
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                          data-target="#exampleModalCenter">
                          Launch demo modal
                        </button> -->
  
                        <!-- Modal -->
                        <div class="modal fade" id="editEstimatesModal" tabindex="-1" role="dialog"
                          aria-labelledby="editEstimatesModalTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div *ngIf="editEstimateForm" class="modal-content">
                              <form [formGroup]="editEstimateForm">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="editEstimatesModalTitle">Edit Estimates</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
  
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroup-sizing-default">Expires In</span>
                                    </div>
                                    <input type="number" class="form-control" formControlName="expiresIn" aria-label="Default"
                                      aria-describedby="inputGroup-sizing-default">
                                    <div class="input-group-append">
                                      <span class="input-group-text" id="">Days</span>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-4">
                                      <div class="">Has Been Paid For</div>
                                    </div>
                                    <div class="col-8">
                                      <label class="switch">
                                        <input type="checkbox" formControlName = "paidFor">
                                        <span class="slider round"></span>
                                      </label></div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="updateEstimate(editEstimateForm.value)">
                                    Update Estimate
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <a (click)="deleteEstimate(estimate.estimateId)" class="btn btn-danger">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
         
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="#" class="btn btn-secondary" routerLink="/clients">Back</a>
        <input type="submit" value="Save Changes" class="btn btn-success float-right" (click)="updateAllEstimates()">
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>